body {
  padding-top: 3.5rem;
}

.jumbotron {
  background-image: url("../photo/logo-a.png");
/*  background-size: cover;*/
  color: #fffff;
/*  height:520px;*/
  max-width: 100%;
  height: auto;
/*  position: relative;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 16 / 6;  /* 设置比例，现代浏览器支持 */
}

.small-text {
  font-size: 0.85rem;
}
.column p {
  text-align: justify; /* 两端对齐段落文字 */
}